<% include partials/header %>
<h1>Add Customer</h1>
<% if(errors){ %>
    <% errors.forEach(function(error){ %>
        <li><%= error.msg %></li>
    <% }) %>
<% }%>
<form method="POST" action="/users/add">
    <label>First Name</label>
    <input type="text" name="first_name">
    <br>
    <label>Last Name</label>
    <input type="text" name="last_name">
    <br>
    <label>Email</label>
    <input type="text" name="email">
    <input type="submit" value="Submit">
</form>
<h1><%= title %></h1>
<% users.forEach(function(user){ %>
    <li><%= user.first_name %> <%= user.last_name %> - <a href="#" class="deleteUser" data-id="<%= user._id %>">Delete</a></li>
<% }) %>
<% include partials/footer %>
